:root {
  --primary-button-hue: 144;
  --primary-button-saturation: 97%;
  --primary-button-lightness: 27%;
  --primary-button-color: hsl(
    var(--primary-button-hue),
    var(--primary-button-saturation),
    var(--primary-button-lightness)
  );
}

/* button */
.button {
  width: 100%;
  height: 3rem;
  padding: 1rem;
  border-width: 0;
  align-self: stretch;
  border-radius: 6px;
  background: var(--primary-button-color, hsl(144, 97%, 27%));
  transition: all 80ms ease-in;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  opacity: 1;
}
.button:hover,
.button:focus {
  outline: none;
  transform: translateY(-2px);
  background-color: hsl(
    var(--primary-button-hue),
    var(--primary-button-saturation),
    calc(var(--primary-button-lightness) + 4%)
  );
}
.button:active {
  transform: translateY(4px);
  background-color: hsl(
    var(--primary-button-hue),
    var(--primary-button-saturation),
    calc(var(--primary-button-lightness) - 8%)
  );
}
/* tablet or mobile */
@media (max-width: 999px) {
  .button:active {
    transform: translateY(6px);
  }
}

/* text */
.processingText,
.mainText {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 12px;
  align-items: center;
  height: 1rem;
  transition: all 120ms ease-out;
}
.button.processing .processingText,
.button:not(.processing) .mainText {
  opacity: 1;
}
.button:not(.processing) .processingText,
.button.processing .mainText {
  opacity: 0;
}
.button:not(.processing) .processingText,
.button:not(.processing) .mainText {
  transform: translateY(0);
}
.button.processing .processingText,
.button.processing .mainText {
  transform: translateY(-1rem);
}

.transparent {
  opacity: 0;
}

/* spinner */
.spinner {
  width: 18px;
  height: 18px;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
